.header_burger__open_menu_btn {
	padding: 0;
	line-height: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	width: 34px;
	height: 34px;
}

.header_burger__open_menu_img {
	stroke: white;
	width: 28px;
	height: 14px;
}

@media screen and (min-width: 768px) {
	.header_burger__open_menu_btn {
		width: 40px;
		height: 40px;
	}
	.header_burger__open_menu_img {
		width: 34px;
		height: 16px;
	}
}

@media screen and (min-width: 1280px) {
	.header_burger__open_menu_btn {
		display: none;
	}
}
